<div class="jumbotron" style="position:relative" >
    <div class="text-center">
        <h1 class="display-4">Sherri Wang</h1>
        <h3 class="lead">Software Engineer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px">

    <a
      href="www.linkedin.com/in/sherri-wang-9b3b"
      target="_blank"
      class=""
    >
      <img
        src="../../assets/linkedin.png"
        width="25"
        height="25"
        class="rounded-circle me-2"
        alt="Linkedin"
      />
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100002878900429&locale=zh_TW"
      target="_blank"
      class=""
    >
      <img
        src="../../assets/facebook.png"
        width="25"
        height="25"
        class="rounded-circle me-2"
        alt="Facebook"
      />
      
    </a>
    <a
      href="https://github.com/SherriW27?tab=repositories"
      target="_blank"
      class=""
    >
      <img
        src="../../assets/github.png"
        width="25"
        height="25"
        class="rounded-circle me-2"
        alt="Github"
      />
    
    </a>
    </div>
</div>
