<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>
      I can be reached at the following email: <b>misstira27&#64;icloud.com</b>
    </p>
    <p>Feel free to connect with me on any of the following platforms:</p>
  </div>
  <div class="list-group shadow">
    <a
      href="www.linkedin.com/in/sherri-wang-9b3b"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/linkedin.png"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
        alt="Linkedin"
      />
      <h3 class="mb-0">LinkedIn</h3>
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100002878900429&locale=zh_TW"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/facebook.png"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
        alt="Facebook"
      />
      <h3 class="mb-0">Facebook</h3>
    </a>
    <a
      href="https://github.com/SherriW27?tab=repositories"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/github.png"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
        alt="Github"
      />
      <h3 class="mb-0">Github</h3>
    </a>
  </div>
</div>
